*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #ffc017;
    display: flex;
    height: 95px;
    width: 100vw;
    border-bottom: 1px solid black;

}
#div1, #div2{
    width: 50%;
    align-items: center;
    justify-content: center;
    height: inherit;
    display: flex;
}
#div002{
    display: none;
    align-items: center;
    justify-content: center;
}
ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        height: inherit;
        width: inherit;}
 #but01{
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: black;
 } 
 #Section1{
    width: 100vw;
    height: 500px;
    background-color: #ffc017;
    border-bottom: 1px solid black;
 }
 #FIRSTH1{
    font-size: 96px;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    padding-left: 250px;
    font-weight: 400;
 }  
 #Para1{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 250px;
    font-size: 24px;
 }
 /* #Pb{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 250px;
 } */
 #but02{
    width: 160px;
    height: 40px;
    color: white;
    align-items: center;
    border: none;
    border-radius: 20px;
    margin-left: 250px;
    font-size: 17px;
    background-color: black;
 }
 #Section2{
    width: 100vw;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 1px solid black; */
 }
 #trend1{
    padding-top: 30px;
    padding-left: 120px;
    font-size: 15px;
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
 }
 #button1{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
 }
 #div01, #div02, #div03, #div04, #div05, #div06{
    width: 33%;
    height: 200px;
    /* border: 1px solid black; */
 }
 #tr01{
    padding-left: 180px;
    font-size: 14px;
    font-family: sans-serif;
    
 }
 #tr02{
    padding-left: 180px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif; 
 }
 #tr03{
    padding-left: 180px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
 }
 #tr04{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 65px;
    padding-bottom: 30px;
 }
 #tr05{
    padding-left: 100px;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: 10px;
    font-weight: bold;
 }
 #tr06{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
 }
 #tr07{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 65px;
    padding-bottom: 30px;
 }
 #tr08{
    padding-left: 100px;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
 }
 #tr09{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
}
#tr10{
    padding-left: 180px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 65px;
    padding-bottom: 20px;
 }
 #tr11{
    padding-left: 180px;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
 }
 #tr12{
    padding-left: 180px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
}
#tr13{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 65px;
    padding-bottom: 20px;
 }
 #tr14{
    padding-left: 100px;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
 }
 #tr15{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
    /* padding-bottom: 20px; */
}
#tr16{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 65px;
    padding-bottom: 10px;
 }
 #tr17{
    padding-left: 90px;
    font-size: 16px;
    font-family: sans-serif;
    padding-bottom: 10px;
    font-weight: bold;
 }
 #tr18{
    padding-left: 100px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
}
#section3{
    width: 100vw;
    height: 1200px; 
    /* border: 1px solid red; */
    display: flex; 
    justify-content: space-between; 
}
#general1{
    width: 50%;
    height: inherit;
    position: relative;
    /* border: 2px solid blue; */
}
#general2{
    width: 40%;
    height: 400px;
    position: sticky;
    top: 50px;
    right: 30px;
    
}

#p1{
    padding-left: 55px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
}
#p2{
    padding-left: 55px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}
#p3{
    padding-left: 55px;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: -15px;
}
#p4{
    padding-left: 55px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
    padding-top: 10px;
    
}
#create{
    width: 80px;
    height: 30px;
    color: rgb(98, 97, 97);
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}
#w1{padding-left: 55px;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 30px;
}
#w2{
    padding-left: 55px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}
#w3{
    padding-left: 55px;
    font-size: 13px;
    font-family: sans-serif;
}
#w4{
    padding-left: 55px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(98, 97, 97);
    padding-top: 10px;
}
#software{width: 130px;
height: 30px;
color: rgb(98, 97, 97);
background-color: #F2F2F2;
border: 1px solid #F2F2F2;
border-radius: 20px;}



#q1{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}
#q2{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    color: green;
    font-family: sans-serif;
    font-weight: lighter;
}
#q2:hover{
    color: black;
}
#b1{width: 130px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
    justify-content: space-evenly;
    color: black;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;}
#underline{
    /* padding-top: 5px; */
    border-top: 1px solid#F2F2F2;
}
#underline>ul{
    padding-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
