*{
    margin: 0;
    padding: 0;
}

#btn1:hover{
    background-color: red;
    color: white;
}
#btn2:hover{
    background-color: transparent;
    color: blue;
    border: none;
}
#section1{
    height: 800px;
    border: 1px solid black;
    background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/zh-homev2-banner.webp);
    background-size: 70% 30%;
    background-repeat: no-repeat;
    background-position: bottom 30% left 5%;
}
#div1{
    padding-left: 10px;
    padding-right: 7px;
    padding-top: 5px;
}
#div2{
    width: 380px;
    height: 100%;
    margin-left: 98px;
    padding-top: 30px;
    border-radius: 7px;
    background-color: white;
    z-index: 5;
    border: 2px solid whitesmoke;
}
#Aod{
    width: 20%;
    margin-top: 10px;
    color: steelblue;
    padding-left: 20px;
}
#Aod01{
    width: 64%;
}
#divchv{
    width: 16px;
    display: flex;
    align-items: center;
}
#Aod1{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    color: rgb(1, 1, 1);
}
#Aod2{
    font-size: 14px;
    font-weight: 400;

}
#APPS{
    font-size: 16px;
    font-weight: 300;
    padding-left: 25px;
}
